<!-- templates/navbar.html -->
<section class="nav_wrapper">
         <div class="navigation_bar">
            <a href="/" aria-current="page" class="ridiculous w-inline-block w--current">
               <div class="header_copy ridiculous">EcoTrack</div>
            </a>
            <div class="nav-center-div">
               <a href="/ridiculous-sips" class="sips-nav-link w-inline-block">
                  <div class="sips">
                     <img src="https://cdn.prod.website-files.com/64c73e48646a08f9331baab1/667df9f7ddf1de2876fc4b00_Sips.svg" loading="lazy" alt="" class="sips-icon"/>
                     <div class="header_copy">Analyse</div>
                  </div>
               </a>
               <a href="/ridiculous-shots" class="shots w-inline-block">
                  <div class="shots">
                     <img src="https://cdn.prod.website-files.com/64c73e48646a08f9331baab1/667df9f77ca82bcfa3745a3a_Shots.svg" loading="lazy" alt="" class="shots-icon"/>
                     <div class="header_copy">Data</div>
                  </div>
               </a>
               <a href="/about" class="nav_about w-inline-block">
                  <div class="nav-about">
                     <img src="https://cdn.prod.website-files.com/64c73e48646a08f9331baab1/667df9f7dd2a913e30b9dd69_About.svg" loading="lazy" alt="" class="about-icon"/>
                     <div class="header_copy">About</div>
                  </div>
               </a>
            </div>
            <a href="/submit" class="nav-submit-cta w-inline-block">
               <div class="header_copy">Submit your idea</div>
               <img src="https://cdn.prod.website-files.com/64c73e48646a08f9331baab1/667df9f7cc0352610b5b7536_Arrow%20-%20Right.svg" loading="lazy" alt="" class="image-26"/>
            </a>
         </div>
      </section>