<div id="preloader" class="preloader">
   <div class="preloder-content">
      <div class="div-block-7">
         <img src="https://cdn.prod.website-files.com/64c73e48646a08f9331baab1/65d230201a8dd50bfe4196b8_giphy.gif" loading="lazy" alt="" class="image-14"/>
         <div class="bold_headline-2 preload_copy">designed considering your <br/>short attention span</div>
         <img src="https://cdn.prod.website-files.com/64c73e48646a08f9331baab1/65d230201a8dd50bfe4196b8_giphy.gif" loading="lazy" alt="" class="image-13"/>
      </div>
      <div id="procrastinateText" class="body_copy_preloader white">Procrastinating ooo</div>
   </div>
</div>

<script src="/static/js/preloader-fadeout.js" type="text/javascript"></script>